@media (prefers-color-scheme: dark) {
    * {
        color-scheme: dark;
    }
    body { background-color:#1c1b22;}
    button, label.import, div.block div.block  {
        background-color:black;
    }
    button:hover, label.import:hover, div.block div.block:hover {
        background-color:#404040;
    }
    div#tableau, div.tools {
        background-color:black;
    }
    div.block {
        background-color : #252526;
        border : solid 1px #444444;
    }
    div.block div.block.disabled, select:disabled, button:disabled,div.block  div.block.disabled:hover {
        background-color:#1d1d22;
        border:solid #313131 0.1px;  
    }
    button, label.import, div.block div.block  {
        border: 1.5px #494c53 outset;
    }
    form {
        background: #212f28;
    }
}
@media (prefers-color-scheme: light) {
    * {
        color-scheme: light;
    }
    body { background-color:white;}
    button, label.import, div.block div.block  {
        background-color:#e9e9ed;
    }
    button:hover, label.import:hover, div.block div.block:hover {
        background-color:#d0d0d7;
    }
    div#tableau, div.tools {
        background-color:white;
    }
    div.block {
        background-color : rgba(192,192,192,.8);
        border : solid 1px gray;
    }

    div.block div.block.disabled, select:disabled, button:disabled,div.block  div.block.disabled:hover {
        background-color:#d0d0d7;
        border:solid gray 0.1px;  
    }
    button, label.import, div.block div.block  {
        border: 1.5px rgb(227, 227, 227) outset;
    }
    form {
    background: mintcream;
    }
}
img {
    vertical-align:middle;
}
table, tr, td, th {
    font-size:10pt;
}
form{
    border:solid lightgray 1px ;
    box-shadow:2px 2px 8px -1px lightslategray;
    margin:15px
}
canvas#dessin {
    left:0px;
    top:0px;
    margin: 0 300px 0 0;
}
div.load {
    left:0px;
    top: 0px;
    margin : 0px;
    background: #000000bf;
    z-index:999;
    position:fixed;
    width : 100%;
    height : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
div.load button,div.load label {
    background-size : 64px;
    padding : 1px 4px 1px 64px;
    background-repeat: no-repeat;
    background-position: left;
    text-align : left;
    overflow : hidden;
    text-overflow: ellipsis;
    display: grid;
    align-content: center;
    justify-content: left;
}
div.load label {
    width : 108px;
    height : 74px;
}
div.load button {
    width : 180px;
    height : 80px;
}
button, label.import, div.block div.block  {
    font-family: Sans-Serif;
    font-size: 10pt;
    background-size: contain;
    background-repeat: no-repeat;
    background-position : left;
    margin : 0px;
    align-items: center;
    border-radius:4px;
}
button.active {
    border-style : inset;
    background-position : 1px 1px;
}
div.block div.block.disabled, select:disabled, button:disabled,div.block  div.block.disabled:hover {
    filter: opacity(75%) blur(1px);
}
input#upload{
    opacity:0;
    width : 1px; height : 1px;
}
div.tools {
    z-index:10;
    top:0px;
    left:0px;
    position:sticky; 
    opacity:.95; 
    margin : 0px;
    width:100%;
    height:66px
}
div.block {
    padding : 8px;
    display:inline-flex;
    margin: 0 4px;
    align-content : center;
}
div.block h1 {
    display: inline;
    font-family : 'Cantarell';
    font-size : 12pt;
    font-weight: normal;
    padding : 0 7px;
}
button {
    width: 48px; 
    height: 48px; 
    margin:0 4px;
}
label.import {
    width: 44px; 
    height: 44px; 
}
button.mini {
    width: 22px; 
    height: 22px;
    margin:0 1px;
    
}
div.block div.block {
    height: 44px; 
    padding : 0 0 0 44px;
    margin:0 4px;
}
div.block span {
    display:flex;
    align-items:center;
}
div.block span * {
    margin:.2em;
}

div#tableau {
    z-index:9;
    top:66px; 
    left:calc( 100% - 300px );
    width:300px;
    height: calc( 100% - 66px );
    position:fixed;
    overflow-y:scroll;
}
div#tableau select {
    width:100%;
}
div#tableau select[size="1"] {
    width:calc(100% - 48px );
}
.hide {
    display:none!important;
}
.r90 {
    transform:rotate(90deg);
}
.r180 {
    transform:rotate(180deg);
}
.r270 {
    transform:rotate(270deg);
    
}
button.new {
    background-image : url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTYgNHYyNGg5di0xSDdWNWgxMXY3aDd2NWgxdi02bC03LTdINlptMTQgMTN2NWgtNXYxaDV2NWgxdi01aDV2LTFoLTV2LTVoLTF6Ii8+PC9zdmc+);
}
.local {
    background-image : url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTYgNHYyNGg3di0xSDdWNWgxMXY3aDd2NGgxdi01bC03LTdINnptMTYuMzk4IDEyLTUuMTEgNS4xMTFMMTQgMjQuMzk4VjI4aDMuNjAyTDI2IDE5LjYwMiAyMi4zOTggMTZ6bS0yLjA0OCAzLjQ5IDIuMTYgMi4xNi0zLjE3NCAzLjE3NHYtLjY3NGwtMS4wMTQuMDI0aC0xLjAzNXYtMS42MjFsMy4wNjMtMy4wNjN6bS00LjA3NyA0LjA3NHYxLjYyMmgyLjAyOGwuMDIxLjY1NC0xLjA4MiAxLjA4SDE1LjhsLS43Mi0uNzJ2LTEuNDQybDEuMTkzLTEuMTk0eiIvPjwvc3ZnPg==);
}
.import {
    background-image : url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTYgNHYyNGgxMHYtMUg3VjVoMTF2N2g3djEwLjVoLTcuMDg2bDMuNzkzLTMuNzkzTDIxIDE4bC00IDQtMSAxIDUgNSAuNzA3LS43MDctMy43OTMtMy43OTNoOC4wOXYtMUgyNlYxMWwtNy03SDZaIi8+PC9zdmc+);
}
button.edit {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTIyLjI3IDQgNCAyMi4yN1YyOGg1LjczTDI4IDkuNzN6bS0yLjg2NSA0LjI5OSA0LjI5NyA0LjI5Ny0xMS43MDEgMTEuNzAzVjIyaC00di0yLjI5OXpNNy4wMDEgMjAuNzAxVjIzaDR2Mi4yOTlMOS4zIDI3aC0ybC0yLjI5Ny0yLjI5N3YtMnoiLz48L3N2Zz4=);     
}
button.export {
    background-image : url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTcgNWgxMXY3aDd2N2gxdi04bC03LTdINnYyNGgxM3YtMUg3VjVabTkuOTk2IDE3LjV2MWg4LjA5bC0zLjc5MyAzLjc5M0wyMiAyOGw1LTUtNS01LS43MDcuNzA3IDMuNzkzIDMuNzkzaC04LjA5WiIvPjwvc3ZnPg==);
}
button.delete {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggc3R5bGU9ImZpbGw6I2RhNDQ1MyIgZD0ibTI2IDl2MjFoLTIwdi0yMWgxdjIwaDE4di0yMHptNC0yaC0yOHYxaDI4em0tOC01djRoLTF2LTNoLTEwdjNoLTF2LTR6Ii8+PC9zdmc+);
}
button.zoomOut {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTQgNHYxMmgxVjVoMjJ2MjJIMTZ2MWgxMlY0SDR6bTE5LjgzOCAzLjQ1M0wxNiAxNS4yOTNWOS45M2gtMVYxN2g3LjA3di0xaC01LjM2M2w3Ljg0LTcuODM4LS43MS0uNzA5ek00IDE4djRoMXYtM2gzdi0xSDR6bTYgMHYxaDN2M2gxdi00aC00em0tNiA2djRoNHYtMUg1di0zSDR6bTkgMHYzaC0zdjFoNHYtNGgtMXoiLz48L3N2Zz4=);
    margin-right:0;
}
button.zoomIn {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTQgNHY1aDFWNWg0VjRINHptNyAwdjFoNFY0aC00em02IDB2MWg0VjRoLTR6bTYgMHYxaDR2NGgxVjRoLTV6bS04LjA3IDZ2MWg1LjM2M2wtNy44NCA3LjgzOC43MS43MDlMMjEgMTEuNzA3djUuMzYzaDFWMTBoLTcuMDd6TTQgMTF2NGgxdi00SDR6bTIzIDB2NGgxdi00aC0xek00IDE3djNoMXYtM0g0em0yMyAwdjRoMXYtNGgtMXpNNCAyMXY3aDd2LTdINHptMSAxaDV2NUg1di01em0yMiAxdjRoLTR2MWg1di01aC0xem0tMTUgNHYxaDN2LTFoLTN6bTUgMHYxaDR2LTFoLTR6Ii8+PC9zdmc+);
    margin-left:0;
}
button.rotateL {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTEyLjQgMyA5LjEwNyA2LjI5MyA4LjkgNi41bC4yMDcuMjA3TDEyLjQgMTBsLjcwNy0uNzA3TDEwLjgxNCA3SDE0VjZoLTMuMTg2bDIuMjkzLTIuMjkzTDEyLjQgM3ptMy4xIDNhLjQ5OS40OTkgMCAxIDAgMCAxIC40OTkuNDk5IDAgMSAwIDAtMXpNNi45NSA4IDIgMTIuOTUgOC4wNSAxOSAxMyAxNC4wNSA2Ljk1IDh6TTE4LjUgOGEuNDk5LjQ5OSAwIDEgMCAwIDEgLjQ5OS40OTkgMCAxIDAgMC0xek02Ljk1IDkuNDE0bDQuNzc3IDQuNzc3LTMuNTM2IDMuNTM2LTQuNzc3LTQuNzc4TDYuOTUgOS40MTR6TTE5LjUgMTFhLjQ5OS40OTkgMCAxIDAgMCAxIC40OTkuNDk5IDAgMSAwIDAtMXptLTEgM2EuNDk5LjQ5OSAwIDEgMCAwIDEgLjQ5OS40OTkgMCAxIDAgMC0xem0tMyAyYS40OTkuNDk5IDAgMSAwIDAgMSAuNDk5LjQ5OSAwIDEgMCAwLTF6Ii8+PC9zdmc+);
    margin-right:0;
}
button.rotateR {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0ibTkuNiAzLS43MDcuNzA3TDExLjE4NiA2SDh2MWgzLjE4Nkw4Ljg5MyA5LjI5MyA5LjYgMTBsMy4yOTMtMy4yOTMuMjA3LS4yMDctLjIwNy0uMjA3TDkuNiAzek02LjUgNmEuNDk5LjQ5OSAwIDEgMCAwIDEgLjQ5OS40OTkgMCAxIDAgMC0xem0tMyAyYS40OTkuNDk5IDAgMSAwIDAgMSAuNDk5LjQ5OSAwIDEgMCAwLTF6bTExLjU1IDBMOSAxNC4wNSAxMy45NSAxOSAyMCAxMi45NSAxNS4wNSA4em0wIDEuNDE0IDMuNTM2IDMuNTM1LTQuNzc3IDQuNzc4LTMuNTM2LTMuNTM2IDQuNzc4LTQuNzc3ek0yLjUgMTFhLjQ5OS40OTkgMCAxIDAgMCAxIC40OTkuNDk5IDAgMSAwIDAtMXptMSAzYS40OTkuNDk5IDAgMSAwIDAgMSAuNDk5LjQ5OSAwIDEgMCAwLTF6bTMgMmEuNDk5LjQ5OSAwIDEgMCAwIDEgLjQ5OS40OTkgMCAxIDAgMC0xeiIvPjwvc3ZnPg==);
    margin-left:0;
}
button.up {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0ibTE2IDguMjkzLTE0IDE0IC43MDcuNzA3TDE2IDkuNzA3IDI5LjI5MyAyM2wuNzA3LS43MDd6Ii8+PC9zdmc+); 
    margin-left:0;
}
button.down {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0ibTE2IDIzLjcwNy0xNC0xNEwyLjcwNyA5IDE2IDIyLjI5MyAyOS4yOTMgOWwuNzA3LjcwN3oiLz48L3N2Zz4=);
    margin-right:0;
}
button.grid {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+CiAgPHBhdGggZD0iTTMgMkwzIDNMMiAzTDIgNEwzIDRMMyA2TDIgNkwyIDdMMyA3TDMgOUwyIDlMMiAxMEwzIDEwTDMgMTJMMiAxMkwyIDEzTDMgMTNMMyAxNEw0IDE0TDQgMTNMNiAxM0w2IDE0TDcgMTRMNyAxM0w5IDEzTDkgMTRMMTAgMTRMMTAgMTNMMTIgMTNMMTIgMTRMMTMgMTRMMTMgMTNMMTQgMTNMMTQgMTJMMTMgMTJMMTMgMTBMMTQgMTBMMTQgOUwxMyA5TDEzIDdMMTQgN0wxNCA2TDEzIDZMMTMgNEwxNCA0TDE0IDNMMTMgM0wxMyAyTDEyIDJMMTIgM0wxMCAzTDEwIDJMOSAyTDkgM0w3IDNMNyAyTDYgMkw2IDNMNCAzTDQgMkwzIDJ6TTQgNEw2IDRMNiA2TDQgNkw0IDR6TTcgNEw5IDRMOSA2TDcgNkw3IDR6TTEwIDRMMTIgNEwxMiA2TDEwIDZMMTAgNHpNNCA3TDYgN0w2IDlMNCA5TDQgN3pNNyA3TDkgN0w5IDlMNyA5TDcgN3pNMTAgN0wxMiA3TDEyIDlMMTAgOUwxMCA3ek00IDEwTDYgMTBMNiAxMkw0IDEyTDQgMTB6TTcgMTBMOSAxMEw5IDEyTDcgMTJMNyAxMHpNMTAgMTBMMTIgMTBMMTIgMTJMMTAgMTJMMTAgMTB6Ii8+Cjwvc3ZnPgoK);
}
button.side {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTMgM3Y3aDE2VjNIM3ptMSAxaDJ2MmgxVjRoMXYzaDFWNGgxdjJoMVY0aDF2MmgxVjRoMXYzaDFWNGgzdjVINFY0em0yLjcwNyA5LTMgMyAzIDN2LTZ6TTE2IDEzdjZsMy0zLTMtM3oiLz48L3N2Zz4=);
}
button.floorArea {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTExIDMgMy4wODIgOS4wNzYgNiAxOWgxMGwyLjkxOC05Ljk5NFptMCAxLjMyIDYuNTk4IDUuMDA1TDE1IDE4SDdMNC40IDkuMzgyWiIvPjxwYXRoIGQ9Ik02LjUwMSAxOC4yMTdjLS4wOC0uMTM0LTIuNzU2LTguNjQtMi43NTYtOC43NTkgMC0uMDYzIDEuNjItMS4zNDQgMy41OTktMi44NDYgMy4xMzEtMi4zNzcgMy42MjItMi43MTcgMy43ODItMi42MTguMTAxLjA2MyAxLjc0OCAxLjI4OCAzLjY2IDIuNzIzbDMuNDc2IDIuNjA4LS4xODkuNjE3LTEuMzY3IDQuNDU3LTEuMTggMy44NDItNC40OS4wMjVjLTIuNDcuMDE0LTQuNTEtLjAwOC00LjUzNS0uMDQ5eiIgZmlsbC1vcGFjaXR5PSIuNTAyIi8+PC9zdmc+);
}
button.wire, div.block.gaines {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTUgNHYxaDZ2MTNoNnYtMWgtNVY0SDV6Ii8+PHBhdGggc3R5bGU9ImZpbGw6IzNkYWVlOSIgZD0iTTQuNSAzQTEuNSAxLjUgMCAwIDAgMyA0LjUgMS41IDEuNSAwIDAgMCA0LjUgNiAxLjUgMS41IDAgMCAwIDYgNC41IDEuNSAxLjUgMCAwIDAgNC41IDN6bTAgMWEuNS41IDAgMCAxIC41LjUuNS41IDAgMCAxLS41LjUuNS41IDAgMCAxLS41LS41LjUuNSAwIDAgMSAuNS0uNXptMTMgMTJhMS41IDEuNSAwIDAgMC0xLjUgMS41IDEuNSAxLjUgMCAwIDAgMS41IDEuNSAxLjUgMS41IDAgMCAwIDEuNS0xLjUgMS41IDEuNSAwIDAgMC0xLjUtMS41em0wIDFhLjUuNSAwIDAgMSAuNS41LjUuNSAwIDAgMS0uNS41LjUuNSAwIDAgMS0uNS0uNS41LjUgMCAwIDEgLjUtLjV6Ii8+PC9zdmc+);
}
div.block.etages {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0ibTExIDMtLjcwNy43MDdMMyAxMWwuNzA3LjcwNy4yOTMtLjI5M1YxOWgxNHYtNy41ODZsLjI5My4yOTNMMTkgMTFsLTMtM1Y1aC0zbC0xLjI5My0xLjI5M0wxMSAzbTAgMS40MTQgNiA2VjE4aC00di01SDl2NUg1di03LjU4Nmw2LTYiLz48L3N2Zz4=);
}
div.block.murs {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTE2IDE1aDN2M2gtM3pNMyAxNWgzdjNIM3ptNCAwaDh2M0g3em01LTRoN3YzaC03em0tOSAwaDh2M0gzem0xMy00aDN2M2gtM3pNMyA3aDN2M0gzem00IDBoOHYzSDd6bTUtNGg3djNoLTd6TTMgM2g4djNIM3oiLz48L3N2Zz4=);
}
div.block.pieces {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAyMiI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTExIDN2OEgzdjhoMTZWM2gtOHoiLz48L3N2Zz4=);
}
div.block.doors {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTIgMnYxMmgxMVYyem0xIDFoNHYxMEgzem01IDBoNHYxMEg4eiIvPjxlbGxpcHNlIGN4PSI4LjUiIGN5PSI5IiByeD0iMSIgcnk9Ii4zIi8+PC9zdmc+);
}
div.block.stairs {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAyMiI+PHN0eWxlPip7ZmlsbDpub25lO3N0cm9rZTojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntzdHJva2U6I2E3YTZiNX19PC9zdHlsZT48cGF0aCBkPSJNMiAyMS41VjE5SDFoNHYtM0g0aDR2LTNIN2g0di0zaC0xIDRWN2gtMSA0VjRoLTEgNFYxaC0xIDIuNXY0TDUgMjEuNXoiLz48L3N2Zz4=);
}
div.block.prises {
   /* background-image: url('../img/ihm/network-disconnect.png');*/
}
div.block.circuits {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAyMiI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTExIDN2LjAwMmMtMyAwLTQuNSAxLjk4Ni00LjUgNC4zOThDNi41IDEwIDkuNDE0IDE1IDkuNDE0IDE1bDMuMTcyLS4wMDRTMTUuNSAxMCAxNS41IDcuNEMxNS41IDQuOTg4IDE0IDMgMTEgM3ptMCAxLjAwMmMyLjMzNCAwIDMuNSAxLjY1NiAzLjUgMy42NjYgMCAyLjE2Ni0yLjI2NiA2LjMzLTIuMjY2IDYuMzNsLTIuNDY4LjAwNFM3LjUgOS44MzQgNy41IDcuNjY4YzAtMi4wMSAxLjE2Ny0zLjY2NCAzLjUtMy42NjR2LS4wMDJ6TTkgMTZ2MS41YzAgLjgzMS42NjkgMS41IDEuNSAxLjVoMWMuODMxIDAgMS41LS42NjkgMS41LTEuNVYxNkg5eiIvPjwvc3ZnPg==);
}
button.save {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTQgNHYyNGgyNFYxMGwtMS0xLTQtNC0xLTFINHptMSAxaDV2OGgxMVY1aC41ODZMMjcgMTAuNDE0VjI3aC00di04SDl2OEg1VjV6bTYgMGg2djdoLTZWNXptLTEgMTVoMTJ2N0gxMHYtN3oiLz48L3N2Zz4=);
}
button.cancel {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTE2IDRhMTIgMTIgMCAwIDAtOC4xMTMgMy4xOGwtLjAwMi0uMDAyYTEyIDEyIDAgMCAwLS4wMzcuMDM3QTEyIDEyIDAgMCAwIDQgMTZhMTIgMTIgMCAwIDAgMTIgMTIgMTIgMTIgMCAwIDAgOC4xMTMtMy4xOGwuMDA3LjAwMmExMiAxMiAwIDAgMCAuMDMyLS4wMzdBMTIgMTIgMCAwIDAgMjggMTYgMTIgMTIgMCAwIDAgMTYgNG0wIDFhMTEgMTEgMCAwIDEgMTEgMTEgMTEgMTEgMCAwIDEtMi44ODUgNy40MDhMOC41OTIgNy44ODVBMTEgMTEgMCAwIDEgMTYgNU03Ljg4NSA4LjU5MiAyMy40MDggMjQuMTJBMTEgMTEgMCAwIDEgMTYgMjcgMTEgMTEgMCAwIDEgNSAxNmExMSAxMSAwIDAgMSAyLjg4NS03LjQwOCIvPjwvc3ZnPg==);
}
button.add {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTcgM3Y1SDJ2MWg1djVoMVY5aDVWOEg4VjNIN3oiLz48L3N2Zz4=);     
}
button.find {
    background-image: url(data:image/svg+xml;base64PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTYuNSAyQzQgMiAyIDQuMDEgMiA2LjUgMiA5IDQgMTEgNi41IDExYzEuMSAwIDItLjQgMi44LTFsNCA0IC43LS43LTQtNGMuNi0uOCAxLTEuNyAxLTIuOEMxMSA0IDkgMiA2LjUgMnptMCAxQzguNCAzIDEwIDQuNTYxIDEwIDYuNSAxMCA4LjQgOC40IDEwIDYuNSAxMFMzIDguNCAzIDYuNSA0LjYgMyA2LjUgM3oiLz48L3N2Zz4=);     
}
button.mouse {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHN0eWxlPip7ZmlsbDojMjMyNjI5fUBtZWRpYSAocHJlZmVycy1jb2xvci1zY2hlbWU6ZGFyayl7KntmaWxsOiNhN2E2YjV9fTwvc3R5bGU+PHBhdGggZD0iTTggMmE0IDQgMCAwIDAtNCA0djRhNCA0IDAgMCAwIDQgNGgxYTQgNCAwIDAgMCA0LTRWNmE0IDQgMCAwIDAtNC00em0wIDFoMWEzIDMgMCAwIDEgMyAzdjRhMyAzIDAgMCAxLTMgM0g4YTMgMyAwIDAgMS0zLTNWNmEzIDMgMCAwIDEgMy0zem0wIDF2M2gxVjR6Ii8+PC9zdmc+);     
}
