name: Fetch tarifs
on:
  push:
  workflow_dispatch:
jobs:
  mondialrelay:    
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Parse Mondialrelais
      run: |
        git config --local user.name "xavier.forestier"
        git config --local user.email "{ID}+{username}@users.noreply.github.com"
        git fetch
        git switch main
        echo "[" > colis/data/mondialrelay.json
        colis/data/parsers/mondialrelay colis/data/raw/mondialrelay.html >> colis/data/mondialrelay.json
        echo "]" >> colis/data/mondialrelay.json
        git add colis/data/mondialrelay.json
        git commit -m "Update price" || true
        git push --force-with-lease
        git push
